@{
    ViewData["Title"] = "_Layout";
}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>ASAE SERVICE DESK (ASD)</title>
	<link rel="shortcut icon" href="~/icons/ico.ico">
	<link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css'>
	<link rel="stylesheet" type="text/css" href="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.css">
	<link href="~/css/login/_stylelogin.css" rel="stylesheet" />
</head>
<body>
    <div class="container" id="container">
        @RenderBody()
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="https://common.olemiss.edu/_js/sweet-alert/sweet-alert.min.js"></script>
	<script src="~/js/administracion/login/_scriptlogin.js"></script>
</body>
</html>