
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Modal carga orden de trabajo -->
<div class="modal fade" id="ModalCargaArchivo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog bd-example-modal-sm" role="document">
        <div class="modal-content">
            <form action="#" id="NuevoModelo">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Carga de archivo </h5>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xl-12 col-lg-12" id="DivCargaArchivo">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect waves-light" data-dismiss="modal" id="BtnCargaArchivo">
                        <i class="icofont icofont-close-squared-alt"></i><span class="m-l-12"> Cerrar </span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Main content starts -->
<div class="container-fluid">
    <!-- Header Starts -->
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="main-header">
                <h4>Ticket: @ViewBag.Ticket.Folio.Folio </h4>
            </div>
        </div>
    </div>
    <!-- Header end -->
    <!-- Tables start -->
    <!-- Row start -->
    <div class="row">
        <div class="col-sm-12">
            <!-- Tickets abiertos -->
            <div class="card">
                <div class="card-header">
                    <h5 class="card-header-text text-center"> Fotos antes del servicio  </h5>
                    <p>Las imágenes fotográficas son obligatorias por equipo, separadas por el numero de serie </p>
                </div>
                
                <div class="card-block">
                    <div class="row">
                        <div id="ImagenesEquipoImg">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <button type="submit" class="btn btn-default waves-effect waves-light col-xl-6 " data-original-title=".icofont-home" style="width:49%" onclick="Anterior(@ViewBag.Ticket.Ticket.Id)">
                            <i class="icofont icofont-arrow-left"></i><span class="m-l-12"> Anterior </span>
                        </button>

                        <button type="button" class="btn btn-primary waves-effect waves-light col-xl-6 " data-original-title=".icofont-home" style="width:49%" onclick="Siguiente(@ViewBag.Ticket.Ticket.Id)">
                            <span class="m-l-12"> Siguiente </span> <i class="icofont icofont-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <!-- Basic Table ends -->
        </div>
    </div>
</div>

<!-- Main content ends -->
<script src="~/js/ticketatencion/movil/_fotoantes.js"></script>
<script>

    $(document).ready(function () {
        setTimeout(function () {
            CargaRutinaInical(@Html.Raw(Json.Serialize(ViewBag.Ticket.Ticket)));
        }, 1000); // 2 segundos de retardo
    });

</script>